root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true
tab_width = 4
indent_style = space
max_line_length = off

dotnet_diagnostic.IDE0051.severity = none

# IDE0130: 네임스페이스가 폴더 구조와 일치하지 않습니다.
dotnet_style_namespace_match_folder = false
